@import './../variables.scss';
.Component {
    background-color: #3282b8;
    // height: $seven_height;                                                                                                                           
    // width: $seven_width;                                                                                                                             
    // border-radius: $seven_border-radious;                                                                                                                            
    justify-content: space-evenly;
    align-self: center;
    border-radius: 12px;
    overflow: hidden;
    overflow-x: auto;
}

.day {
    flex-wrap: nowrap;
    height: 43vh;
    width: 12vw;
    background-color: #bbe1fa;
    margin: .5vw;
    padding: .5vw;
    margin-left: 1.1vw;
    border-radius: 12px;
}

.scrollcontent {
    overflow-y: auto;
    max-height: 85%;
    list-style: none;
    border-bottom-left-radius: 12px;
    flex-direction: column;
    border-bottom-right-radius: 12px;
    padding-left: .5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scrollcontent::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.gap {
    align-self: center;
    width: 85%;
    height: .3vh;
    border-radius: 12px;
    background-color: white;
    margin: 2%;
    margin-left: 8%;
}

.titleofdaybac {
    margin-top: 19vh;
}

.titleofday {
    text-align: center;
    font-size: 2vw;
    padding-top: .3vh;
}

.classesbackground {
    height: 4vh;
    margin-top: 1vh;
    width: 10vw;
    text-size-adjust: 100px;
    background-color: rgb(244, 245, 248);
    border-radius: 12px;
}

.classes {
    text-align: center;
    font-size: small;
    padding-top: .8vh;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.scrollbar {
    --scrollbar-color: transparent;
    --scrollbar-container-color: transparent;
    --scrollbar-thumb-color: rgba(0, 0, 0, 0.2);
    --scrollbar-thumb-hover-color: rgba(0, 0, 0, 0.3);
    --scrollbar-border-radius: 4px;
    --scrollbar-size: 6px;
    --scrollbar-padding: 8px;
    --scroll-view-margin: 0;
    --scroll-view-color: transparent;
    --scroll-view-height: 10px;
}