@import './../variables.scss';

.Component {
  background-color: $seven_background-color;
  height: $seven_height;
  width: $seven_width;
  position: $seven_position;
  top: $seven_top;
  left: $seven_left;
  border-radius: $seven_border-radious;
}
