<button (click)="closeModal()" style="margin-left:70%; background-color: red;border-style: solid;border-color: #ffffff;"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#ffffff" background-color="#FF0000" viewBox="0 0 24 24"><path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"/></svg></button>


  <div *ngIf="dayorclass;else AssignmentForm">
    <div (click)="openClassform()">Add a assignment</div>
<form [formGroup]="ClassForm">
  <div class="group-gap">
    <div class="d-block my-3">
        <div class="mb-3">
          <label>Weekday</label>
          <select class="custom-select" formControlName="weekday"> <!-- (change)="changeCity($event)" -->
            <option *ngFor="let city  of City" [ngValue]="city">{{city}}</option>
          </select>
         <!-- <div *ngIf="isThereClass()">
          <div>please add a class</div>
         </div> -->
        </div>
    </div>
  </div>
  <label>
    Class Name:
  <input type="text" formControlName="name">
  </label>
  <label>
    Teacher:
  <input type="text" formControlName="teacher">
  </label>
  <label>
    Start Time:
  <input type="time" formControlName="start_time">
  </label>
  <label>
    Duration:
  <input type="text" formControlName="duration">
  </label>
  <button (click)="onSubmit()" type="submit" [disabled]="!ClassForm.valid">Submit</button>
</form>
  </div>



<ng-template #AssignmentForm>
  <div (click)="openClassform()">Add a class</div>
</ng-template>
