@import './../variables.scss';

.nextView {
  width: $next_width;
  height: $next_height;
  position: $next_position;
  left: $next_left;
  border-radius: $next_border-radius;
  top: $next_top;
  background-color: $next_background-color;
}
