@import './../variables.scss';
.nextView {
    width: 44.55vw;
    height: 40vh;
    margin-left: 3vw;
    margin-top: 20px;
    border-radius: $next_border-radius;
    background-color: $next_background-color;
}