<div *ngIf="auth.user$ | async; then authenticated else guest">
<app-loading></app-loading>
</div>



<ng-template #guest>
  <div class="background">

<div>
  <button (click)="auth.googleSignin()" style="margin: auto; margin-top: 50%; width:3vw; height: 3vh;">
      <i class="fa fa-google"></i> Connect Google

  </button>
</div>
</div>
</ng-template>



<ng-template #authenticated>
  <div *ngIf="auth.user$ | async as user">
  <div style="background-color: white;">
<app-calendar [Data]="user.uid"></app-calendar>

</div>
</div>
</ng-template>

