.background{
  background-image: url("./../../assets/svg/Login.svg");
  width: 106vw;
  height: 160%;
  position: absolute;
  margin: -5%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  display: flex;
  overflow: hidden;
}
