<div *ngIf="auth.user$ | async; then authenticated else guest">
  <!-- template will replace this div -->
</div>
<ng-template #guest>
  <h3>Howdy, GUEST</h3>
  <p>Login to get started...</p>

  <button (click)="auth.googleSignin()" style="margin: auto; margin-top: 50%; width:3vw; height: 3vh;">
      <i class="fa fa-google"></i> Connect Google
  </button>

</ng-template>
<ng-template #authenticated>
  <div *ngIf="auth.user$ | async as user">
  <div style="background-color: white;">
<app-calendar [data]="user.uid"></app-calendar>
</div>
</div>
</ng-template>
