<div class="DayComp">
    <div *ngIf="deselected;else dayselected">
        <div class="NameOfDay">
            <h1 class="Day">
                {{days[todaysday].weekday}}
            </h1>
        </div>
        <div class="Gap"></div>
        <ng-scrollbar>
            <div class="day-container">
                <li *ngFor="let classes of days[todaysday].classes; index as x" style="list-style: none;">

                    <div class="TodaysAssignment">
                        <div class="flex-container">
                            <h1 class="Classes">{{classes.name}}</h1>
                            <div class="classGap"></div>
                        </div>
                    </div>
                </li>
                <div class="columnGap"></div>
            </div>
        </ng-scrollbar>
    </div>




    <ng-template #dayselected>
        <div class="NameOfDay">
            <h1 class="Day">
                {{SelectedDay.weekday}}
            </h1>
        </div>
        <div class="Gap"></div>
        <ng-scrollbar>
            <div class="day-container">
                <li *ngFor="let classes of SelectedDay.classes; index as x" style="list-style: none;">
                    <div class="TodaysAssignment">
                        <h1 class="Classes">{{classes.name}}</h1>
                    </div>
                </li>
            </div>

        </ng-scrollbar>

    </ng-template>
</div>