@import './variables.scss';
.mainPage {
    background-color: $mainPage_background-color;
    width: $mainPage_width;
    height: $mainPage_height;
    margin: $mainPage_margin;
    border-radius: $mainPage_border-radious;
}

.flex-container {
    width: $flexcont-width;
    height: $flexcont-height;
    display: $flexcont-display;
    flex-direction: $flexcont-direction;
}