$DaysBackground:#bbe1fa;
$Border-Radius:12px;
$ConsistantMargins:12;
$ShadowColors:rgb(128, 144, 196);
///colors
$MainBackground:#040F16;
$secondarybackground:#3B1F2B;
$ComponentBackgrounds:#0B4F6C;
$eachbackgroundcolor:#5ad7fa;
$PostBackgrounds:#E7E6F7;