$DaysBackground:#bbe1fa;
$Border-Radius:12px;
$ConsistantMargins:12;
$ShadowColors:rgb(128, 144, 196);
///colors
$MainBackground:#0A2239;
$secondarybackground:#1E1A59;
$ComponentBackgrounds:#3F3286;
$eachbackgroundcolor: #E6C2BB;
$PostBackgrounds:#faf3fa;