//day calender
$day_width:10%;
$day_height:20%;
$day_color: black;

//nextview
$next_width:40%;
$next_height:35%;
$next_position:relative;
$next_left:57.5%;
$next_border-radius: 26px;
$next_top: 5%;
$next_background-color:rgb(0, 0, 0);

//7 day component | .component class 
$seven_background-color: rgb(35, 54, 35);
$seven_height: 50%;
$seven_width: 95%;
$seven_position: relative;
$seven_top: 8%;
$seven_left: 2.5%;
$seven_border-radious: 26px;
